:root.theme-dark {
  --background-image: url(../images/cover-image-dark.png);
  --background-color: #000028;
  --subtitle-color: #000028;
  --title-color: #DB00FF;
  --accent-color: #FF0070;
  --decor-color: #FF0070;
  --button-hover-color: #FF007066;
  --text-color: #F1B2CE;
  --decor-display: block;
}