:root.theme-light {
  --background-image: url(../images/cover-image-light.png);
  --background-color: #FFF1F7;
  --subtitle-color: #353430;
  --title-color: #FFC2E6;
  --accent-color: #FF8DCB;
  --decor-color: #353430;
  --button-hover-color: #32312D66;
  --text-color: #353430;
  --menu-padding: 65px;
}

.theme-light .header__decorated-element {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --background-image: url(../images/cover-image-light.png);
    --background-color: #FFF1F7;
    --subtitle-color: #353430;
    --title-color: #FFC2E6;
    --accent-color: #FF8DCB;
    --decor-color: #353430;
    --button-hover-color: #32312D66;
    --text-color: #353430;
    --menu-padding: 65px;
  }

  .header__decorated-element {
    display: none;
  }

  @media (width >= 768px) {
    :root {
      --menu-padding: 147px;
    }
  }
  
  @media (width >= 1024px) {
    :root {
      --menu-padding: 0;
    }
  }
}

@media (width >= 768px) {
  :root.theme-light {
    --menu-padding: 147px;
  }
}

@media (width >= 1024px) {
  :root.theme-light {
    --menu-padding: 0;
  }
}